[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
fastapi = { extras = ["standard"], version = "*" }
uvicorn = "*"
passlib = "*"
bcrypt = "==4.0.1"
httpx = "*"
python-multipart = "*"
python-jose = { extras = ["cryptography"], version = "*" }
psycopg2-binary = "*"
psycopg = "*"
pymysql = "*"
sqlalchemy = "*"
alembic = "*"
pytest = "*"
pytest-env = "*"
pytest-asyncio = "*"
jinja2 = "*"
cryptography = "*"

[dev-packages]
pytest-asyncio = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.3"
